= render partial: "shared/homework_title", locals: {homework: @homework}
%br
= form_for @submission, url: {action: "create"}, html: {class: "nifty_form"} do |f|
  = f.text_field :answer
  = f.hidden_field :assignment_id
  = f.submit "Create"
